$primary-colour: #333;
$secondary-colour: #74DBEF;
$tertiary-colour: #FFF;
$show-home-image: true;
$home-image: url('../img/background.jpg');
$bg-opacity: .9;
$sz: 100%;
$port-dim: 400px;
$small-port: 240px; //.6 * 400
$img-radius: 50%;
$port-border: 3px solid $secondary-colour;
$footer-height: 3.75rem; //60px
@mixin ease-out {
  transition: all .5s ease-out;
}

@mixin bg {
  @if $show-home-image {
    &#bg-img {
      background: $home-image fixed;
      background-size: cover;
      &:after {
        background-color: rgba($primary-colour, $bg-opacity);
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: $sz;
        height: $sz;
        z-index: -1;
      }
    }
  }
}

@function set-text-colour ($colour) {
  $clr: if(lightness($colour) > 40, #000, #FFF);
  @return $clr
}

$tertiary-colour: set-text-colour($primary-colour);
// Small phones
@mixin media-xs {
  @media screen and (max-width: 48px) {
    @content;
  }
}

// Phones
@mixin media-sm {
  @media screen and (max-width: 600px) {
    @content;
  }
}

// Tablets & small laptops
@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Desktops & laptops
@mixin media-lg {
  @media screen and (min-width: 769px) and (max-width: 991px) {
    @content;
  }
}

// Big screens
@mixin media-xl {
  @media screen and (min-width: 992px) and (max-width: 1170px) {
    @content;
  }
}

// Wide screens
@mixin media-xxl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

// px -> vw
@function get-vw($target) {
  $vw-context: (1000 * .01) * 1px;
  @return ($target / $vw-context) * 1vw;
}