$space: 35px;
$rot: 45deg;
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: $space;
  right: $space;
  z-index: 3;
  @include ease-out;
  .btn-line {
    background: $tertiary-colour;
    height: 3px;
    margin: 0 0 5px 0;
    width: 28px;
    @include ease-out;
  }
  //Rotate into X
  &.close {
    transform: rotate(4 * $rot);
    .btn-line {
      // Rotate line 1 and 3
      &:first-child {
        transform: rotate($rot) translate(5px);
      }
      &:last-child {
        transform: rotate(-$rot) translate(10px, -7px);
      }
      // Hide line 2
      &:nth-child(2) {
        opacity: 0;
      }
    }
  }
}

%reset {
  &.show {
    //Slide back into place
    transform: translate3d(0, 0, 0);
  }
}

// @debug 'dim:' $port-dim;
@debug 'img-rad',
$img-radius;
@debug 'sz',
$sz;
@debug 'port-dim',
$port-dim;
//Menu overlay
.menu {
  opacity: .93;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: $sz;
  &.show {
    visibility: visible;
  }
  &-branding,
  &-nav {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    float: left;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: $img-radius;
  }
  &-nav {
    background: darken($primary-colour, 5);
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate3d(0, -$sz, 0);
    @include ease-out;
    @extend %reset;
  }
  &-branding {
    background: $primary-colour;
    transform: translate3d(0, $sz, 0);
    @include ease-out;
    @extend %reset;
    .portrait {
      background: url('../img/portrait.jpg');
      // background-size: cover;
      // background-repeat: no-repeat;
      // background-position: center;
      border: $port-border;
      border-radius: 50%;
      height: $port-dim;
      width: $port-dim;
    }
  }
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include ease-out;
    @extend %reset;
    &.current>a,
    &:focus {
      color: $secondary-colour;
    }
  }
  .nav-link {
    color: $tertiary-colour;
    display: inline-block;
    font-size: 1.875rem;
    font-weight: 300;
    padding: 1rem 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    @include ease-out;
    &:hover,
    &:focus {
      color: $secondary-colour;
    }
  }
}

// Nav item delay
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * .1s;
  }
}