// Widescreens
@include media-vl {
  .about-info,
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
  .about-info {
    grid-template-areas: 'bioimg bio bio bio' 'jobheading jobheading jobheading jobheading' 'job0 job0 job1 job2' 'job3 job4 job5 job2' 'etc etc etc etc' 'skillheading skillheading skillheading skillheading' 'skillcoding skillcoding skilldesign skillops' 'eduheading eduheading eduheading eduheading' 'timeline timeline timeline timeline' 'awardheading awardheading awardheading awardheading' 'award0 award1 award2 award3' 'award4 award4 award5 award5';
  }
}

// Large screens
@include media-xl {
  .about-info {
    grid-template-areas: 'bioimg boimg' 'bio bio' 'jobheading jobheading' 'job0 job0' 'job1 job1' 'job2 job2' 'job3 job3' 'job4 job4' 'job5 job5' 'etc etc' 'skillheading skillheading' 'skillcoding skilldesign' 'skillcoding skillops' 'eduheading eduheading' 'timeline timeline' 'awardheading awardheading' 'award0 award0' 'award1 award1' 'award2 award2' 'award3 award3' 'award4 award4' 'award5 award5';
    grid-template-columns: repeat(2, 1fr);
  }
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Desktops & laptops
@include media-lg {
  .menu-branding {
    .portrait {
      background: url('../img/portrait-small.jpg');
      height: $small-port;
      width: $small-port;
    }
  }
  .about-info {
    grid-template-areas: 'bioimg' 'bio' 'jobheading' 'job0' 'job1' 'job2' 'job3' 'job4' 'job5' 'etc' 'skillheading' 'skillcoding' 'skilldesign' 'skillops' 'eduheading' 'timeline' 'awardheading' 'award0' 'award1' 'award2' 'award3' 'award4' 'award5';
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & small laptops
@include media-md {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    min-height: 0;
    width: 100%;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    font-size: 1.5rem;
    height: 75vh;
    transform: translate3d(-$sz, 0, 0)
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d($sz, 0, 0);
    .portrait {
      background: url('../img/portrait-small.jpg');
      height: $small-port;
      width: $small-port;
    }
  }
  .about-info {
    grid-template-areas: 'bioimg' 'bio' 'jobheading' 'job0' 'job1' 'job2' 'job3' 'job4' 'job5' 'etc' 'skillheading' 'skillcoding' 'skilldesign' 'skillops' 'eduheading' 'timeline' 'awardheading' 'award0' 'award1' 'award2' 'award3' 'award4' 'award5';
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Phones
@include media-sm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
    }
    .lg-heading {
      font-size: 5rem;
      margin-top: 1rem;
    }
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .skill {
    .fa-2x {
      margin-left: 0;
      padding-left: 0;
      text-align: left;
    }
  }
  /* Place the timelime to the left */
  .timeline::after {
    left: get-vw(31px);
  }
  /* Full-width containers */
  .timeline .container {
    padding-left: get-vw(70px);
    padding-right: get-vw(25px);
    width: 100%;
    /* Make sure that all arrows are pointing leftwards */
    &::before {
      border: medium solid #000;
      border-color: transparent lighten($primary-colour, 5) transparent transparent;
      border-width: 10px 10px 10px 0;
      left: get-vw(60px);
    }
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: get-vw(20px);
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

@include media-xs {
  /* Full-width containers */
  .timeline .container {
    padding-left: get-vw(70px);
    padding-right: get-vw(25px);
    width: 100%;
    /* Make sure that all arrows are pointing leftwards */
    &::before {
      border: medium solid #000;
      border-color: transparent lighten($primary-colour, 5) transparent transparent;
      border-width: 10px 10px 10px 0;
      left: get-vw(60px);
    }
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: -5px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0;
  }
}