@import 'config';
@import 'menu';
@import 'icons';
* {
  box-sizing: border-box;
  /* This would prevent the padding to affect the width and height */
}

body {
  @include bg;
  background-color: $primary-colour;
  color: $tertiary-colour;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: $sz;
  margin: 0;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    background: rgba(lighten($color: $primary-colour, $amount: 2), .5);
    margin-bottom: 2rem;
    padding: .2rem 1rem; //TB LR
  }
}

a {
  color: $tertiary-colour;
  text-decoration: none;
}

header {
  position: fixed;
  width: $sz;
  z-index: 2;
}

.text-secondary {
  color: $secondary-colour;
}

main {
  // height: $sz;
  min-height: calc(100vh - #{$footer-height});
  padding: 4rem;
  .icons {
    margin-top: 1rem;
    a {
      padding: .4rem;
      &:hover,
      &:focus {
        color: $secondary-colour;
        @include ease-out;
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 1.2rem; // 30/16px
  grid-template-areas: 'bioimg bio bio' 'jobheading jobheading jobheading' 'job5 job4 job3' 'job2 job1 job0' 'etc etc etc' 'skillheading skillheading skillheading' 'skillcoding skilldesign skillops' 'eduheading eduheading eduheading' 'timeline timeline timeline' 'awardheading awardheading awardheading' 'award0 award1 award2' 'award3 award4 award5';
  grid-template-columns: repeat(3, 1fr);
}

.bio-img {
  border: $port-border;
  border-radius: $img-radius;
  grid-area: bioimg;
  margin: auto;
}

.bio {
  font-size: 1.5rem;
  grid-area: bio;
}

.section-heading,
.etc {
  text-align: center;
}

.job-heading {
  grid-area: jobheading;
}

.skill-heading {
  grid-area: skillheading;
}

.edu-heading {
  grid-area: eduheading;
}

.award-heading {
  grid-area: awardheading;
}

.etc {
  color: $tertiary-colour;
  grid-area: etc;
}

.skill-coding {
  grid-area: skillcoding;
}

.skill-design {
  grid-area: skilldesign;
}

.skill-ops {
  grid-area: skillops;
}

$job-imgs: '../img/work/currys.png',
'../img/work/rhul.png',
'../img/work/rh100-teal.png',
'../img/work/progonline.png',
'../img/work/rhul.png',
'../img/work/bwc.gif',
'../img/work/isg.png';
$box-colour: lighten($primary-colour, 5);
.job {
  background: $box-colour;
  border-bottom: 5px solid $secondary-colour;
  padding: .5rem;
}

@for $i from 6 through 0 {
  .job-#{$i} {
    &:hover {
      background: $box-colour url(nth($job-imgs, $i + 1)) no-repeat right top / 25%;
      // color: #fff - $tertiary-colour; //darken($secondary-colour, 20);
      @include ease-out;
    }
    grid-area: job#{$i};
  }
}

.skill-box {
  background: lighten($primary-colour, 10);
  .skill-subheading {
    border-bottom: 3px solid $secondary-colour;
    text-align: center;
    // vertical-align: top;
    padding-bottom: .1rem;
  }
}

.skill-range {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; //space-evenly isn't fully supported so this
  margin-bottom: .5rem;
  margin-left: .1rem;
  span {
    border-bottom: 1px solid $secondary-colour;
  }
}

$skill-bar-height: 2rem;
$skill-bar-clr: lighten($primary-colour,
15);
.skill {
  background-color: $skill-bar-clr;
  // border-radius: 0 100% 100% 0;
  // float: left;
  display: block;
  line-height: $skill-bar-height;
  padding: .4rem 0 .2rem .4rem;
  width: calc(100% - 2em); //fa-2x := 2em
  .fa-2x {
    vertical-align: middle;
  }
}

//Middle points of levels
$dist-beg: 12%; //4rem;
$dist-elem: 31%; //11rem;
$dist-inter: 50%; //18rem;
$dist-adv: 72%; //25.5rem;
$dist-exp: 90%; //31.4rem;
.html5 {
  background-color: #f16528;
  width: 86%;
}

.css3 {
  background-color: #339cd5;
  width: 62.5%;
}

.scss {
  background-color: #cd669a;
  width: $dist-inter * 1.09;
}

.bootstrap {
  background-color: #563d7c;
  width: $dist-inter * 1.15;
}

.js {
  background-color: #fbde34;
  width: 87%;
}

.ts {
  background-color: #294E80;
  width: $dist-elem;
}

.nodejs {
  background-color: #83cd29;
  width: $dist-adv * 1.001;
}

.express {
  background-color: #888;
  width: $dist-adv * .87;
}

.jquery {
  background-color: #000;
  width: 45%;
}

.vuejs {
  background-color: #41b883;
  width: $dist-elem * 1.5;
}

.react {
  background-color: #00d8ff;
  width: $dist-elem * .8;
}

.pug {
  background-color: #efcca3;
  width: $dist-adv;
}

.python {
  background-color: #37709f;
  width: 58.5%;
}

.java {
  background-color: #e76f00;
  width: $dist-inter;
}

.php {
  background-color: #8993be;
  width: $dist-beg;
}

.sql {
  background-color: #007a7a;
  width: $dist-adv * .8;
}

.mongodb {
  background-color: #3ea847;
  width: $dist-elem * 1.3;
}

.c {
  background-color: #a8b9cc;
  width: $dist-elem;
}

.csharp {
  background-color: #39008d;
  width: $dist-beg * .5;
}

.unity {
  background-color: #000;
  width: $dist-beg * .45;
}

.bash {
  background-color: #102913; //#3e474a;
  width: 84%;
}

.xml {
  background-color: #f60;
  width: $dist-inter * 1.1;
}

.asm {
  background-color: #0071c5;
  width: $dist-beg;
}

.mips {
  background-color: #2055a5;
  width: $dist-beg;
}

.markdown {
  background-color: #000;
  width: $dist-adv;
}

.processing {
  background-color: #01192c;
  width: $dist-adv * .8;
}

.matlab {
  background-color: #ffaf0a;
  width: $dist-inter;
}

.gimp {
  background-color: #706853; //#585141 
  width: $dist-elem * 1.47;
}

.pfsx {
  background-color: #676767;
  width: $dist-adv * .88;
}

.ps {
  background-color: #00c7fe;
  width: $dist-beg;
}

.ai {
  background-color: #ff7c00;
  width: $dist-beg;
}

.inkscape {
  background-color: #000;
  width: $dist-beg * .8;
}

.git {
  background-color: #f05033;
  width: $dist-inter * 1.05;
}

.svn {
  background-color: #809cc8;
  width: $dist-beg * 1.5;
}

.heroku {
  background-color: #7d57c1;
  width: $dist-inter;
}

.netlify {
  background-color: #00AD9F;
  width: $dist-inter * .8;
}

.travisci {
  background-color: #E8E298;
  width: $dist-adv * 1.05;
}

.circleci {
  background-color: #161616;
  width: $dist-elem;
}

.linux {
  background-color: #fed21f;
  width: $dist-adv * 1.2;
}

.windows {
  background-color: #03a9f4;
  width: $dist-adv;
}

.osx {
  background-color: #f0f6f4;
  color: #fff - $tertiary-colour;
  width: $dist-beg;
}

.webpack {
  background-color: #b3c9ee;
  width: $dist-beg;
}

.timeline {
  grid-area: timeline;
  grid-column: 1 / -1;
  position: relative;
  // max-width: 1200px;
  margin: 0;
  /* The actual timeline (the vertical ruler) */
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $secondary-colour;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    /* The circles on the timeline */
    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background-color: $secondary-colour;
      border: 4px solid lighten($primary-colour, 50);
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }
  }
}


/* Place the container to the left */

.left {
  left: 0;
  /* Add arrows to the left container (pointing right) */
  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $box-colour;
  }
}


/* Place the container to the right */

.right {
  left: 50%;
  /* Add arrows to the right container (pointing left) */
  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent $box-colour transparent transparent;
  }
  /* Fix the circle for containers on the right side */
  &::after {
    left: -16px;
  }
}


/* The actual content */

.content {
  padding: 20px 30px;
  background-color: $box-colour;
  position: relative;
  border-radius: 6px;
}

.award {
  align-items: center;
  background: $box-colour;
  border: 5px double $secondary-colour;
  padding: 1rem;
  img {
    float: right;
    width: 20rem;
  }
}

@for $i from 0 through 3 {
  .award-#{$i} {
    grid-area: award#{$i};
  }
}

.projects {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    border: 3px solid $tertiary-colour;
    // height: auto;
    // max-height: 100%;
    // background-size: contain;
    // object-fit: contain;
    // object-fit: scale-down;
    width: 100%;
    &:hover {
      border-color: $secondary-colour;
      opacity: .5;
      @include ease-out;
    }
  }
}

.boxes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; //space-evenly isn't fully supported yet
  margin-top: 1rem;
  div {
    border: 3px solid $tertiary-colour;
    font-size: 2rem;
    margin-bottom: 3rem;
    padding: 1.5rem 2.5rem;
    @include ease-out;
    &:hover {
      background-color: $secondary-colour;
      color: $tertiary-colour;
      padding: .25rem 1rem;
      transform: scale(1.5);
      span {
        color: $tertiary-colour;
      }
    }
  }
}

.btn {
  border: 0;
  display: block;
  margin-bottom: .3rem;
  padding: .5rem 1rem;
  &:hover {
    background-color: $secondary-colour;
    color: $tertiary-colour;
  }
}

.btn-dark {
  @extend .btn;
  background-color: darken($primary-colour, 50);
  color: $tertiary-colour;
}

.btn-light {
  @extend .btn;
  background-color: lighten($primary-colour, 50);
  color: $primary-colour;
}

footer {
  background: darken($primary-colour, 10);
  color: $tertiary-colour;
  height: $footer-height;
  padding: 1rem;
  text-align: center;
}

@import 'mobile';
@import 'access';